body {
  padding: 1em;
  text-align: center;
  backgroung-color: gainsboro;
}

.page-title {
  color: red;
}

.greet-text {
  border-top: solid;
  border-bottom: solid;
}

.wall {
  background-image: url(/assets/img/sora.png);
}
